electron_mirror="https://npm.taobao.org/mirrors/electron/"
sharp_mirror="https://github.com/lovell/sharp/releases/"
sharp-libvips_mirror="https://npm.taobao.org/mirrors/sharp-libvips/"
ELECTRON_BUILDER_BINARIES_MIRROR="http://npm.taobao.org/mirrors/electron-builder-binaries/"
auto-install-peers=true
strict-peer-dependencies=false